<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
	<meta charset="UTF-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
	<title>angular</title>
	<script src="bower_components/angular/angular.js"></script>
	<style>
	</style>
</head>
<body ng-controller="ctrl">

<h3>Login</h3>
<!-- This doesn't work. The oauth code fails via xhr over access control, even though you're refering to your own site, it gets
forwarded to another site and causes problems. It' not setup for that anyway as it involves 2 requests /auth/facebook and
/auth/facebook/callback. Can't xhr something like that (fool). No matter, can use links for oauth and xhr for username/password
<a href="" ng-click="oauth('facebook')">login via facebook xhr</a><br>
-->
<a href="/auth/facebook" target="_self">login via facebook</a><br>
<a href="/auth/twitter" target="_self">login via twitter</a><br>
<a href="/auth/github" target="_self">login via github</a><br>
<a href="/auth/google-openid" target="_self">login via google openid</a><br>
<a href="/auth/google-oauth" target="_self">login via google oauth</a><br>
<br>

<form ng-submit="login()" autocomplete="off">
	username: <input ng-model="user.username" autofocus autocomplete="off"><br>
	pword: <input ng-model="user.password" autocomplete="off"><br>
	<button type="submit">Login</button><br>
	<a href="/login/register.html" target="_self">Register</a>
</form>
<div style="color:red">{{errmsg}}</div>

<script>
	var app = angular.module('app', []);
	app.config(['$locationProvider', function($locationProvider) {
		// have to do this to get $location to parse the querystring, that or stick a # before qs
		$locationProvider.html5Mode({
			enabled: true,
			requireBase: false
		});
	}]);
	app.controller('ctrl', function ($scope, $http, $location) {

		$scope.login = function () {
			$scope.errmsg = '';
			$http.post('/login', $scope.user)
					.then(function (resp) {
						var retUrl = $location.search().returnUrl;
						location.href = retUrl || '/';
					}, function (resp) {
							$scope.errmsg = resp.data.message? resp.data.message: resp.data;
					})
		};

		$scope.oauth = function(company) {
			$http.get('/auth/' + company, $scope.user)
					.then(function (resp) {
						var retUrl = $location.search().returnUrl;
						location.href = retUrl || '/';
					}, function (resp) {
						$scope.errmsg = resp.data.message? resp.data.message: resp.data;
					})
		}

	})
</script>
</body>
</html>
